.cart-list-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-evenly;
}
.cart-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #f9fbfe;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 165px;
  top: 144px;
  border-radius: 0px;
  margin-left: 20px;
  border: 1px solid rgba(11, 105, 255, 0.1);
  box-sizing: border-box;
}

.cart-responsive-container {
  display: flex;
  justify-content: space-evenly;
}
.cart-desktop-list-header {
  display: flex;
  justify-content: space-evenly;
}

.list-header-name1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.list-header-name2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: 200px;
}

.list-header-name3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.cart-line {
  width: 900px;
  border: 1px dashed #cbd2d9;
}
@media screen and (min-width: 768px) {
  .cart-line {
    width: 500px;
  }
}
.total-cart-amount-container {
  display: flex;
  justify-content: space-between;
}

.total-order-text {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #3e4c59;
  height: 32px;
  width: 131px;
  left: 213px;
  top: 504px;
  margin-left: 250px;
}

.total-order-amount {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  color: #1a1e22;
  margin-right: 140px;
}

.place-order-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

.cart-place-order-button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background: #f7931e;
  border-radius: 8px;
  height: 32px;
  width: 99px;
  padding: 3px;
  color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .list-header-name1 {
    display: none;
  }
  .list-header-name2 {
    display: none;
  }
  .list-header-name3 {
    display: none;
  }
  .cart-container {
    background-color: white;
  }
  .total-cart-amount-container {
    display: flex;
    flex-direction: row;
  }
  .total-order-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
  }
  .total-order-amount {
    text-align: right;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    margin-left: 130px;
  }
  .place-order-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    height: 32px;
    width: 99px;
  }
  .cart-line {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .cart-container {
    width: 80%;
    margin-left: 350px;
  }
}

@media screen and (min-width: 768px) {
  .cart-container {
    width: 80%;
    margin-left: 350px;
  }
  .place-order-button-container {
    margin-right: 40px;
  }
  .total-order-amount {
    margin-left: 200px;
  }
}
@media screen and (min-width: 992px) {
  .cart-container {
    width: 80%;
    margin-left: 350px;
  }
}
@media screen and (min-width: 992px) {
  .cart-container {
    width: 80%;
    margin-left: 350px;
  }
  .total-order-amount {
    margin-left: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .cart-container {
    width: 60%;
    margin-left: 350px;
  }
  .cart-line {
    width: 800px;
  }
  .place-order-button-container {
    margin-right: 50px;
  }
}
