.pagination-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 50px;
}

.popular-restaurant-container {
  height: 740px;
  width: 1440px;
  left: 0px;
  top: 528px;
  border-radius: 0px;
}
