.link-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.restaurant-item {
  display: flex;
  width: 90%;
  margin-bottom: 24px;
  margin-right: 20px;
}

.restaurant-item-image {
  height: 100px;
  width: 160px;
  left: 165px;
  top: 216px;
  border-radius: 8px;
}
@media screen and (max-width: 676px) {
  .restaurant-item-image {
    margin-left: 350px;
  }
}
@media screen and (min-width: 768px) {
  .restaurant-item-image {
    height: 100px;
    width: 120px;
    border-radius: 8px;
    margin-left: 350px;
  }
  .restaurant-item {
    margin: 1px;
  }
}
.rating-container {
  display: flex;

  align-items: center;
}
.restaurant-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #334155;
  height: 24px;
  width: 174px;
  left: 341px;
  top: 755px;
  margin-left: 10px;
}
.restaurant-cuisine {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #64748b;
  height: 24px;
  width: 174px;
  left: 341px;
  top: 783px;
  margin-left: 10px;
}

.icon1 {
  font-size: 20px;
  color: #ffcc00;
  margin-left: 10px;
}

.rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #1e293b;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.reviews {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #64748b;
}
