.food-image {
  height: 150px;
  width: 255px;
  margin: 20px;
}

.food-item-container {
  display: flex;
  flex-direction: row;
}
.food-item-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #334155;
}

.food-item-cost {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}

.star-color {
  color: #ffcc00;
}
.add-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border: 2px solid #ffa412;
  box-sizing: border-box;
  border-radius: 8px;
  color: #ffa412;
}
@media screen and (max-width: 767px) {
  .food-image {
    height: 100px;
    width: 160px;
    left: 24px;
    top: 284px;
    border-radius: 5.0196075439453125px;
  }
}
