.slider-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.slider-failure-heading-text {
  font-size: 16px;
  color: #1e293b;
}

.slick-slider {
  height: 200px;
  width: 100%;
}
@media screen and(max-width:767px) {
  .slick-slider {
    width: 50%;
    height: 100px;
    margin-left: 10px;
  }
}
