.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(243, 243, 243);
  background-color: #f8fafc;
  margin-bottom: 4vh;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 90%;
  }
}

.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}
.header-logo-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
}
.website-logo {
  width: 35px;
  height: 28px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .website-logo {
    display: none;
  }
}

.logo-name {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #f7931e;
}
@media screen and (max-width: 768px) {
  .logo-name {
    position: absolute;
    left: 19.72%;
    right: 48.33%;
    top: 31.25%;
    bottom: 31.25%;

    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */

    color: #f7931e;
  }
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 49px;
    height: 39px;
    margin-right: 18px;
  }
  .logo-name {
    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #f7931e;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-mobile-only-menu {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .nav-mobile-only-menu {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 96.62%;

    /* Light / blue-gray / 50 */
    background: #f8fafc;
  }
}

@media screen and (max-width: 768px) {
  .nav-mobile-only-menu {
    display: block;
  }
}

.nav-menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1110px;
}
@media screen and (max-width: 767px) {
  .nav-menu-mobile {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 96.62%;

    /* Light / blue-gray / 50 */
    background: #f8fafc;
  }
}
.nav-menu-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
}
.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
@media screen and (max-width: 767px) {
}
.nav-menu-item {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
}
.nav-link {
  text-decoration: none;
  color: #334155;
}
@media screen and (max-width: 767px) {
}

.nav-menu-item-mobile {
  font-family: 'Roboto';
  text-decoration: none;
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .nav-menu-item-mobile {
    left: 8.89%;
    right: 79.44%;
    top: 51.88%;
    bottom: 31.88%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: -0.355556px;

    /* Light / blue-gray / 700 */
    color: #334155;
  }
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #f7931e;
  border: none;
  border-radius: 8px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 767px) {
}
.logout-desktop-btn-mobile {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #f7931e;
  border: none;
  border-radius: 8px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}

.nav-mobile-btn-container {
  display: flex;
  justify-content: center;
  width: 25%;
}
@media screen and (max-width: 767px) {
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.nav-bar-image {
  width: 24px;
}
