.mobile-list-cart-item-container {
  list-style-type: none;
}
.cart-item-container {
  margin-right: 30px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .mobile-list-cart-item-container {
    display: none;
  }
}
.desktop-item-container {
  display: flex;
}
.mobile-cart-item-image {
  height: 90px;
  width: 136px;
  border-radius: 8px;
}
.desktop-cart-item-image {
  height: 100px;
  width: 136px;
  margin-left: 5px;
}

.desktop-list-cart-item {
  display: flex;
  justify-content: space-evenly;
}

.desktop-cart-item-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #183b56;
}
.decrement-button {
  height: 30px;
  width: 30px;
  background-color: #f9fbfe;
  border: none;
  outline: none;
}
.increment-button {
  height: 30px;
  width: 30px;
  background-color: #f9fbfe;
  border: none;
  outline: none;
}
.icon {
  height: 25px;
  width: 16px;
  background-color: #f9fbfe;
  outline: none;
}
.desktop-cart-item-quantity {
  margin: 1px;
}
.desktop-cart-item-cost {
  color: #ffa412;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .desktop-list-cart-item {
    display: none;
  }
  .mobile-list-cart-item-container {
    display: flex;
    flex-direction: row;
  }
  .mobile-cart-item-image {
    border-radius: 8px;
  }
  .cart-item-container {
    display: flex;
    flex-direction: column;
  }
  .cartItem-quantity-container {
    display: flex;
    flex-direction: row;
  }
  .cart-Item-name {
    font-size: 14px;
  }
  .cart-item-cost {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffa412;
  }
}
