.empty-cart {
  width: 150px;
  height: 150px;
  margin-left: 580px;
}
@media screen and (max-width: 767px) {
  .empty-cart {
    margin-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .empty-cart {
    margin-left: 500px;
  }
  .empty-cart-paragraph {
    margin-left: 400px;
  }
  .empty-cart-heading {
    margin-left: 400px;
  }
  .order-now-button {
    margin-left: 400px;
  }
}
@media screen and (min-width: 992px) {
  .empty-cart {
    margin-left: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .empty-cart {
    margin-left: 600px;
  }
}
.empty-cart-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1e293b;
}
.empty-cart-paragraph {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-now-button {
  border-radius: 8px;
  height: 50px;
  width: 140px;
  background: #f7931e;
}
