.footer-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0f172a;
  padding: 40px;
  align-items: center;
  width: 1440px;
  height: 424px;
}

@media screen and (max-width: 480px) {
  .footer-bg-container {
    height: 256px;
    width: 360px;
    margin-top: 800px;
  }
}

@media screen and (min-width: 576px) {
  .footer-bg-container {
    height: 256px;
    width: 1150px;
  }
}
@media screen and (min-width: 768px) {
  .footer-bg-container {
    height: 256px;
    width: 1500px;
  }
}
.image-heading-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
}
.footer-logo {
  left: 3.77%;
  right: 4.28%;
  top: 4.65%;
  bottom: 4.97%;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    height: 28.920833587646484px;
    width: 36.77833557128906px;
    left: 1.50927734375px;
    top: 1.48828125px;
    border-radius: 0px;
  }
}
.footer-list-item {
  margin-left: 20px;
}

.tasty-heading {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .tasty-heading {
    height: 24px;
    left: 37.5%;
    right: 22.78%;
    top: calc(50% - 24px / 2 - 64px);
    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.footer-paragraph {
  width: 479px;
  height: 64px;
  left: 480px;
  top: 168px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer-paragraph {
    width: 280px;
    height: 48px;
    left: 40px;
    top: 104px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    text-align: center;

    color: #ffffff;
  }
}

.footer-ul-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-2 {
  height: 40px;
  width: 40px;
  background-color: #0f172a;
  color: white;
}
@media screen and (max-width: 767px) {
  .icon-2 {
    height: 20px;
    width: 20px;
    left: 1.99951171875px;
    top: 2px;
    border-radius: 0px;
  }
}
