.slider-container {
  height: 188px;
  width: 320px;
}

.image {
  width: 75%;
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 320px;
    width: 1440px;
    left: 165px;
    top: 146px;
    border-radius: 8px;

    list-style-type: none;
  }
}
