.slider-container {
  height: 400px;
  width: 1300px;
  margin-left: 100px;
  padding-top: 20px;
  list-style-type: none;
}

.image {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .slider-container {
    height: 188px;
    width: 414px;
    left: -17px;
    top: 64px;
    border-radius: 0px;
    margin-left: -20px;
  }
}
